
.content {
 margin-left: 10%;
}

button {
  width: 100px;
  height: 30px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.boxNumber {
  width: 500px;
  height: 500px;
  position: relative;
  margin-top: 20px;
  border: solid 1px black;
}

.boxNumber div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(173, 173, 197);
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
}

.boxNumber div:hover {
  background-color: #e4052a;
}

.boxNumber div {
  transition: opacity 1s;
}

.boxNumber div.hidden {
  opacity: 0;
}
